<p class="pull-sm-right">
  {{#link-to "companies.new" class="btn btn-primary"}}Add Company{{/link-to}}
</p>
<h2>Companies</h2>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th># Contacts</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |company|}}
      <tr>
        <td>{{company.name}}</td>
        <td>{{company.phone}}</td>
        <td>{{company.email}}</td>
        <td>{{company.contacts.lenght}}</td>
        <td>
          {{#link-to 'companies.show' company}}Details{{/link-to}} |
          {{#link-to 'companies.edit' company}}Edit{{/link-to}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5" style="text-align: center; font-style:italic;">
          You have no companies yet.
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
